<div class="wrapper fadeInDown">
    <div id="formContent">
            <form [formGroup]="editPriceForm" (ngSubmit)="onSubmit()">
                <h2>{{this.examinationType}} </h2><br>
                <label>Edit examination price details</label><br>
                <div class="form-row">
                    <div class="form-group col">
                    <label>Price (rsd)</label><br>
                        <input type="text" formControlName="priceValue" class="form-control" [(ngModel)]="this.priceValue" (change)="calculate()" [ngClass]="{ 'is-invalid': submitted && f.priceValue.errors }"/>
                        <div *ngIf="submitted && f.priceValue.errors" class="invalid-feedback">
                            <div *ngIf="f.priceValue.errors.required">Please enter examination price</div>
                            <div *ngIf="f.priceValue.errors.min">Price cannot be negative value</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Discount (%)</label><br>
                        <input type="text" formControlName="discount" class="form-control" [(ngModel)]="this.discount" (change)="calculate()" [ngClass]="{ 'is-invalid': submitted && f.discount.errors }" />
                        <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
                            <div *ngIf="f.discount.errors.required">Please enter examination discount</div>
                            <div *ngIf="f.discount.errors.min">Discount cannot be negative value</div>
                            <div *ngIf="f.discount.errors.max">Discount cannot be more then 100%</div> 
                        </div>
                    </div>
                </div>
                    <div class="form-group col">
                            <label>Discounted price (rsd)</label><br>
                            <input type="text" readonly formControlName="discountedPrice" class="form-control" [(ngModel)]="this.discountedPrice" />
                        </div>
                    
                <div class="text-center">
                        <button class="btn btn-primary mr-1">Save</button>
                        <button class="btn btn-secondary"  (click)="onCancel()">Cancel</button>
                </div><br>
            </form>
    </div>
</div>