<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        
        <th scope="col">Clinic Name<i id="arrow" (click)="sortAsc('name')">▼</i><span id="arrow" (click)="sortDesc('name')">▲</span></th>
        <th scope="col">Address<i id="arrow" (click)="sortAsc('address')">▼</i><span id="arrow" (click)="sortDesc('address')">▲</span></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clinic of clinics; let i =index">
          <td scope="row">{{i+1}}</td>
          <td class="vertical-center">{{clinic.name}}</td>
          <td class="vertical-center">{{clinic.address}}</td>
        </tr>

    </tbody>
  </table>