<button routerLink="/addClinicCenterAdmin">Add Clinic Center Admin</button>
<button routerLink="/addClinicAdmin" >Add Clinic Admin</button>
<button routerLink="/addClinic" >Add Clinic</button>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      
      <th scope="col">email</th>
      
      <th scope="col">Zahtev</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of users; let i =index">
        <td scope="row">{{i+1}}</td>
        <td class="vertical-center">{{a.email}}</td>
        <td class="vertical-center">
          <button type="button" class="btn btn-success" (click)="Accept(a.email)">Accept</button>
          <button type="button" class="btn btn-danger" (click)="Deny(a.email)">Deny</button>
    </tr>

    <button type="button" class="btn btn-secondary" (click)="GetUsers()">SVI USERI</button>
   
  </tbody>
</table>