

<button routerLink="/addClinicCenterAdmin">Add Clinic Center Admin</button>
<button routerLink="/addClinicAdmin">Add Clinic Admin</button>
<button routerLink="/addClinic" >Add Clinic</button>


<table class="table table-hover sortable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" >Email Address<i id="arrow" (click)="sortAsc('email')">▼</i><span id="arrow" (click)="sortDesc('email')">▲</span></th>
      <th scope="col">Respond</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i =index">
        <td scope="row">{{i+1}}</td>
        <td class="vertical-center">{{user.email}}</td>
          <button initial class="btn btn-success" (click)="Accept(user.email)">Accept</button>
          <button initial class="btn btn-danger" (click)="Deny(user.email)">Deny</button>
    </tr>

  </tbody>
</table>