<button routerLink="/userProfile" >My profile</button>
<button routerLink="/searchClinics">Search Clinics</button>

<div class="wrapper fadeInDown">
        <div id="formContent">
            <form (ngSubmit)="examinationRequest(form)" #form="ngForm">
                <h2>Book Examination</h2><br>
                <mat-form-field appearance="fill">
                    <mat-label>Choose examination type</mat-label>
                    <mat-select [(ngModel)]="selectedType" name="selectedType">
                        <mat-option *ngFor="let type of types" [value]="type">
                        {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="margin: 0px 0px 10px 20px">
                    <input matInput [matDatepicker]="examinationDate" name="examinationDate" ngModel #examinationDate="ngModel" placeholder="Datum pregleda">
                    <mat-datepicker-toggle matSuffix [for]="examinationDate"></mat-datepicker-toggle>
                    <mat-datepicker #examinationDate></mat-datepicker>
                </mat-form-field>

                <div>
                    <input type="submit" value="Pretrazi">
                </div>
            </form>
        </div>
</div>

  <div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Slobodni termini</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of DoctorsFreeExaminations; let i = index">
                <td >
                    <tr>
                        {{item.doctor.firstName}} {{item.doctor.lastName}}
                    </tr>
                    <tr>
                       
                    </tr>
                    <tr>
                        <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Datum i vreme</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let date of item.freeExaminations; let j = index">
                                        <td>{{date}} <button type="button" class="btn btn-primary" (click)="NewExamination(item.doctor, date)">Book</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </tr>
                </td>    
            </tr>
        </tbody>
    </table>
</div>

