<button routerLink="/userProfile" >My profile</button>
<button routerLink="/searchClinics">Search Clinics</button>
<div>
    <form (ngSubmit)="examinationRequest(form)" #form="ngForm">
<mat-form-field>
    <mat-label>Odaberi tip pregleda</mat-label>
    <mat-select [(value)]="selectedType">
        <mat-option *ngFor="let type of types" value={{type}}>
            {{type}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <input matInput [matDatepicker]="examinationDate" name="examinationDate" ngModel #examinationDate="ngModel" placeholder="Datum pregleda">
    <mat-datepicker-toggle matSuffix [for]="examinationDate"></mat-datepicker-toggle>
    <mat-datepicker #examinationDate></mat-datepicker>
</mat-form-field>

<div>
    <input type="submit" class="fadeIn fourth" value="Pretrazi">
</div>
</form>
</div>

<table class="table table-hover">
    <tbody>
        <tr *ngFor="let clinic of clinics; let i =index">
          <td scope="row">{{i+1}}</td>
          <td class="vertical-center">{{clinic.name}}</td>
          <td class="vertical-center">{{clinic.address}}</td>
          <button type="button" class="btn btn-primary" (click)="examinationRequestForClinic(clinic,examinationDate, selectedType)">View free examination</button>
        </tr>

    </tbody>
  </table>

  <div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Slobodni termini</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of DoctorsFreeExaminations; let i = index">
                <td >
                    <tr>
                        {{item.doctor.firstName}} {{item.doctor.lastName}}
                    </tr>
                    <tr>
                       
                    </tr>
                    <tr>
                        <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Datum i vreme</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let date of item.freeExaminations; let j = index">
                                        <td>{{date}} <button type="button" class="btn btn-primary" (click)="NewExamination(date, item.doctor)">Primary</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                    </tr>
                </td>    
            </tr>
        </tbody>
    </table>
</div>

