<button (click)="MyProfile()">My profile</button><br>
<button routerLink="/addDoctor"> Add Doctor</button>
<button (click)="ShowDoctors()">All Doctors</button><br>
<button routerLink="/addRoom"> Add Room</button>
<button (click)="SearchRooms()">All Rooms</button><br>
<button routerLink="/businessStatistics">Bussines statistics</button> ● prosečnu ocenu klinike,
● prosečnu ocenu svakog lekara,
● prikaz grafika održanih pregleda na dnevnom, nedeljnom i mesečnom
nivou,
● prihode klinike u određenom vremenskom periodu.


<button routerLink="/priceList">Edit Price List</button>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2>Examination requests</h2>
      <table class="table table-hover sortable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" >Examination Requested Date</th>
            <th scope="col">Respond</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examination of examinationRequests; let i =index">
              <td scope="row">{{i+1}}</td>
              <td class="vertical-center">{{examination.dateTime | date:'medium'}}</td>
              <td>
                <button initial class="btn btn-success mr-2" (click)="BookRoom(examination.dateTime,examination.id)">Choose Room</button>
                <!-- <button initial class="btn btn-danger" (click)="Deny(examination.id)">Deny</button> -->
              </td>
          </tr>

        </tbody>
      </table>
    </div>
</div>


