
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2>Register new Clinic Admin</h2>
      <!-- Icon -->
      <p>Please fill in the information for new Clinic Admin</p>
      <!-- Register Form -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class='form-row' style="align-items: center">
                  <div class="form-group col-6">
                      <input type="text" formControlName="firstName" class="form-control"  placeholder="First Name" />
                  </div>
                  <div class="form-group col-6 ">
                      <input type="text" formControlName="lastName" class="form-control"  placeholder="Last Name"/>
                  </div>
              </div>
              <div class="form-group">
                 <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col">
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group col">
                      <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password"/>
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                  </div>
              </div>
                  <div class="form-group">
                      <input type="text" formControlName="jmbg" class="form-control"  placeholder="JMBG"/>
                  </div>
                  <div class="form-group">
                      <input type="text" formControlName="address" class="form-control"  placeholder="Adress"/>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                        <input type="text" formControlName="city" class="form-control"  placeholder="City"/>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" formControlName="state" class="form-control" placeholder="State"/> 
                    </div>
                  </div>
                  <div class="form-group" id="selectClinic" >    
                    <mat-form-field appearance="fill">
                        <mat-label>Select Clinic</mat-label>
                        <mat-select [(value)]="selectedClinic" name="clinic">
                            <mat-option *ngFor="let clinic of clinics" [value]="clinic.clinicId">
                                {{clinic.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                        <p style="text-align: center">Select Clinic</p>
                    </div>
              
              <div class="text-center">
                  <button class="btn btn-primary mr-1">Register</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              </div><br>
          </form>
    </div>
  </div>