<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h1>Clinic Admin Registration</h1>
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/images/hospital.svg" width="50" height="50" id="icon" alt="User Icon" /> 
      </div>
  
      <form (ngSubmit)="NewClinicAdmin(form)" #form="ngForm">
          <br><p>Please fill in the following information for new Clinic Admin</p>
          <div class="form-group"> <!--email-->
              <input  type="text" id="login" class="fadeIn second" name="email" ngModel #email="ngModel" placeholder="email@example.com" >
              <div class="text-danger" *ngIf="!email.valid && email.touched">Email is required!</div>
          </div>
          <div class="form-group">
              <input type="password" id="password" class="fadeIn third" name="password" ngModel #password="ngModel" placeholder="Password">
              <div class="text-danger" *ngIf="!password.valid && password.touched ">Password is required (minimum 8 characters. Make sure to use at least one Uppercase letter, Lowercase letter, Number, Special character </div>
          </div>
          
          <div class="form-group">
            <input type="text"  name="jmbg" ngModel #jmbg="ngModel" placeholder="JMBG">
          </div>
          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="birthDate" name="birthDate" ngModel #birthDate="ngModel" placeholder="BirthDate">
              <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
              <mat-datepicker #birthDate></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="form-group">
            <input type="text"  name="firstName" ngModel #firstName="ngModel" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text"  name="lastName" ngModel #lastName="ngModel" placeholder="Last Name">
          </div>
          <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Select Clinic</mat-label>
                <mat-select [(value)]="selectedClinic" name="clinic">
                  
                  <mat-option *ngFor="let clinic of clinics" [value]="clinic.clinicId">
                      {{clinic.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
          </div>
         
          <input type="submit" class="fadeIn fourth" value="Register"> <!--[disabled]="!ngForm.form.valid"-->
      </form>
    </div>
  </div>