<form (ngSubmit)="edit(form)" #form="ngForm">
    <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text"  class="text" name="firstName" [(ngModel)]="user.firstName">
            </div>
    </div>
    <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
              <input type="text"  class="text" name="lastName" [(ngModel)]="user.lastName">
            </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Jmbg:</label>
            <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" name="jmbg" [(ngModel)]="user.jmbg">
            </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" name="email" [(ngModel)]="user.email">
            </div>
        </div>
    <input type="submit" class="fadeIn fourth" value="Edit">
</form>